.headerWrapper {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 90; /* Ensuring the header stays on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyHeader {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(5, 3, 26, 0.685);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  z-index: 90; /* Ensuring the header stays on top */
}

.logo img {
  max-height: 50px;
}

.LogoClass {
  max-height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  /* color: #427930; */
  color: #fff;
  cursor: pointer;
}

.Letterae {
  font-size: 1.4rem;
  margin-inline: -2px;
}

.leftArea {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightArea {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

/* hide rightArea on mobile */

@media (max-width: 720px) {
  .rightArea {
    display: none;
  }
}
