.heroSection {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.imageColumn {
  position: relative;
  flex: 1;
  width: 50%;
}

.heroImage {
  object-position: center;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin-block-start: 5em;
}

.introSake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
  max-width: 600px;
}

.introSake h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.introSake p {
  font-size: 1.2em;
  color: #666;
}

.imageSake {
  display: none;
}

@media (max-width: 768px) {
  .contentColumn {
    margin-block-start: 0em;
  }
  .heroSection {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .heroContainer {
    flex-direction: column;
  }

  .contentColumn {
    width: 100%;
  }

  .contentColumn {
    padding: 0;
  }

  .introSake {
    margin-block: 1em;
    padding: 2em;
  }

  .imageColumn {
    display: none;
  }

  .imageSake {
    display: block;
    margin-top: -20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

/* src/styles/hero.module.css */

.mintOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mintToggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.mintToggle button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

.mintToggle button:first-child {
  border-radius: 4px 0 0 4px;
}

.mintToggle button:last-child {
  border-radius: 0 4px 4px 0;
}

.activeToggle {
  background-color: #007bff !important;
  color: white;
}
