.mintWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2em;
  width: 80%;
  max-width: 400px;
}

.mintButton {
  width: 100%;
  margin-top: 1em;
}

.mintButton {
  background-color: #120822;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}
.mintButton:hover {
  background-color: #12082283;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.batchDetails {
  width: 100%;
  margin-bottom: 2em;
}

.batchDetails h2 {
  text-align: center;
  margin-bottom: 1.8em;
}

.batchGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.batchItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.batchItem span:first-child {
  font-weight: bold;
}

@media (max-width: 768px) {
  .mintWrapper {
    margin-block: 2em;
  }
  .batchItem {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
