@media (min-width: 320px) {
  .connectButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: none;
    /* From https://css.glass */
    background: rgba(5, 3, 26, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-inline: 14px;
    padding-block: 9px;
    border: none;
    box-shadow: var(--rk-shadows-connectButton);
    border-radius: 11px;
    font-weight: 700;
    font-size: 100%;
    transition: all ease 0.2s;
    cursor: pointer;
    z-index: 90;
  }

  .connectOptions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 25px;
    align-items: flex-end;
    z-index: 90;
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #888;
  }
}

@media (min-width: 720px) {
  .connectButton {
    display: none;
  }

  .connectOptions {
    display: none;
  }
}
